<div class="list-cast-thumbnail-wrapper">
  <div class="list-cast-thumbnail">
    <img {{bind-attr src=imageUrl alt=model.name}}>
  </div>
</div>
<div class="list-cast-info">
  <p>{{model.name}} <span class="text-muted">as</span> {{model.character}}</p>
</div>
