{{#link-to 'movie' model.id classNames="cover-image-wrapper"}}
  {{cover-image model=model size="medium"}}
{{/link-to}}
<div class="caption">
  <h4 class="title">{{model.title}}</h4>
  <h5 class="title">{{model.vote_average}} / 10</h5>
  {{#link-to 'movie' model.id classNames="btn btn-primary hidden-sm details-button"}}Details{{/link-to}}
</div>
