.cover-image {
  width: 100%;
  max-width: 100%;
  opacity: 0;
  transition: opacity .5s;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 98;
  &.loaded {
    opacity: 1;
  }
}

.cover-image-wrapper {
  height: 0;
  padding-bottom: 150%;
  position: relative;
  display: block;
  background: $gray-dark;
  .glyphicon {
    color: $gray-darker;
    text-shadow: 0 1px 0 rgba(255,255,255,.2);
    font-size: 70px;
    margin-top: 50%;
  }
}
