<div class="modal fade in trailer" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" {{action 'close'}} data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{model.movie.title}}</h4>
      </div>
      <div class="modal-body">
        <div class="trailer-container">
          {{trailer-player model=model.trailer}}
        </div>
      </div>
    </div>
  </div>
</div>
