<h3>Popular movies</h3>
<div class="row movie-list">
{{#each model.discover as |movie|}}
  {{movie-item movieService=movieService movie=movie}}
{{/each}}
</div>
<h3>Upcoming movies</h3>
<div class="row movie-list">
  {{#each model.upcoming as |movie|}}
    {{movie-item movieService=movieService movie=movie}}
  {{/each}}
</div>
